# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.html text
*.css text
*.js text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
